<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconnaissance Faciale</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-white" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/facial_recognition.jpeg') }}" class="title-image" alt="Logo">
            Reconnaissance Faciale
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('history') }}">Historique</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="text-center mt-4">
            <h1>Reconnaissance Faciale</h1>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-4">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row mt-4">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Ajouter un nouveau visage</h5>
                        <p class="card-text">Enregistrez un nouveau visage dans la base de données.</p>
                        <a href="{{ url_for('add_face') }}" class="btn btn-primary"><i class="fas fa-user-plus"></i> Ajouter un visage</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Démarrer la reconnaissance faciale</h5>
                        <p class="card-text">Lancez le flux vidéo pour la reconnaissance faciale en temps réel.</p>
                        <a href="{{ url_for('video_feed') }}" class="btn btn-success"><i class="fas fa-video"></i> Démarrer la reconnaissance</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-primary text-white text-center py-3 mt-5">
        <p>&copy; 2024 Reconnaissance Faciale. Tous droits réservés.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
